*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "caramelregular";
  src: url("./utils/font/caramel/caramel-regular-webfont.woff2") format("woff2"),
    url("./utils/font/caramel/caramel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "croissant_oneregular";
  src: url("./utils/font/vanilla/croissantone-regular-webfont.woff2")
      format("woff2"),
    url("./utils/font/vanilla/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  width: 100%;
}
.App {
  margin: 10vh 0 0 0;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  background: linear-gradient(#e9c46a, #f5e6c0);
  min-height: 110vh;
  position: relative;
}
.App > * {
  font-family: "croissant_oneregular";
}
/*
* {
  border: 1px solid red;
}
*/
